# APPLICATION
APP_PORT=

# DATABASE
MONGO_URL=

# JWT
ACCESS_TOKEN_SECRET_KEY= # write harder key
ACCESS_TOKEN_EXPIRE_TIME= # example: 500 (in seconds). Default 600
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRE_TIME=